<!DOCTYPE html>
<html>
    <head>
        <title>mon petit detector</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <style>
            body {background-color: lightgray;}
            div.bg {
                height: 2000px;
                margin: 15px;
                }
            div.box {
                background-color: black;
                color: black;
                margin: 15px;
                padding: 15px;
                <!-- border: 0px solid black;-->
                }
        </style>
    </head>

    <body>
        <a href="detecting">
            <div class="bg"><h1> </h1></div>
        </a>
        <a href="shutdown">
            <div class="box"><h1> </h1></div>
        </a>
    </body>
</html>
